body {
  background: #101010;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  padding-top: 20px;
  text-align: center;
  color: #fff;
  width: 600px;
  margin: 0 auto;
}
header h1 > span {
  margin-top: 5px;
  float: left;
  margin-left: 20px;
  text-shadow: 1px 1px 3px #666;
}
header .meta {
  float: left;
  margin-left: 20px;
  color: #aaa;
  font-size: 12px;
}
header .meta b {
  color: #fff;
}
header .meta a, header .meta span {
  color: #aaa;
  margin-right: 10px;
}

div.mdsol-logo {
  float: left;
  padding: 5px 0 0 5px;
  background-color: #006;
  border-radius: 10px;
  width: 58px;
  height: 58px;
  box-shadow: 1px 1px 3px 1px #333;
}
div.mdsol-logo .circle {
  border-radius: 10px;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #999;
  float: left;
  margin: 0 5px 5px 0;
}
div.mdsol-logo .green {
  border: none;
  background-color: #3c0;
}

#main {
  clear: both;
  margin: 20px auto;
}
#main #periodic {
  margin: 0 auto;
  padding-bottom: 0;
}
#main #periodic ul {
  margin: 0 4px 0 0;
  list-style-type: none;
  float: left;
  width: 128px;
}
#main #periodic li {
  margin-bottom: 4px;
}
#main #periodic li a:link, #main #periodic li a:visited {
  float: left;
  text-shadow: 1px 1px 2px #333;
  color: #eee;
  display: block;
  height: 120px;
  width: 120px;
  position: relative;
}
#main #periodic li a:link span.symbol, #main #periodic li a:visited span.symbol {
  font-size: 60px;
  text-align: center;
  display: block;
  width: 65px;
  margin: 65px auto 0;
}
#main #periodic li a:link .language,
#main #periodic li a:link .forks,
#main #periodic li a:link .watchers, #main #periodic li a:visited .language,
#main #periodic li a:visited .forks,
#main #periodic li a:visited .watchers {
  display: block;
  position: absolute;
  text-align: left;
  font-size: 12px;
}
#main #periodic li a:link .language, #main #periodic li a:visited .language {
  left: 4px;
  bottom: 4px;
}
#main #periodic li a:link .forks, #main #periodic li a:visited .forks {
  right: 4px;
  bottom: 4px;
}
#main #periodic li a:link .watchers, #main #periodic li a:visited .watchers {
  right: 4px;
  top: 4px;
}
#main #periodic a:hover, #main #periodic a:active {
  text-decoration: none;
  left: -5px;
  top: -5px;
  z-index: 1;
  -moz-box-shadow: 1px 1px #007d9a, 2px 2px #007d9a, 3px 3px #007d9a, 4px 4px #007d9a, 5px 5px #007d9a, 6px 6px #007d9a;
  -webkit-box-shadow: 1px 1px #007d9a, 2px 2px #007d9a, 3px 3px #007d9a, 4px 4px #007d9a, 5px 5px #007d9a, 6px 6px #007d9a;
}

.blank {
  float: left;
  background: #333;
  padding: 0;
  height: 128px;
  width: 128px;
}

.purple {
  background: #22223B;
  border: 4px solid #232D54;
}

.purple:hover {
  background: #333366;
  border: 4px solid #4B4A98;
}

.blue {
  background: #242D47;
  border: 4px solid #2D395B;
}

.blue:hover {
  background: #384A7D;
  border: 4px solid #3962A5;
}

.green {
  background: #223342;
  border: 4px solid #2B4258;
}

.green:hover {
  background: #345573;
  border: 4px solid #46749F;
}

#secondary {
  background-color: #222;
  color: #ccc;
  font-weight: lighter;
  font-size: 13px;
}
#secondary a {
  font-weight: bold;
}

footer {
  overflow: hidden;
  border-top: 5px solid #444;
  position: absolute;
  bottom: 0;
  width: 100%;
  clear: both;
  padding-bottom: 20px;
}
footer .copyright {
  font-weight: normal;
  color: #999;
}
