#periodic {
  margin: 0 auto;
  width: 976px;
}
#periodic ul {
  width: 70px;
  float: left;
  list-style-type: none;
  margin: 0;
  margin-right: 5px;
}
#periodic ul li {
  float: left;
  height: 77px;
  width: 77px;
  margin-bottom: 1px;
}
#periodic ul li a {
  float: left;
  text-shadow: 1px 1px 2px #333;
  position: relative;
  border: 1px solid #999;
  color: #ddd;
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  display: block;
  width: 70px;
  height: 70px;
  padding: 3px;
  line-height: 100px;
}
#periodic ul li a:hover, #periodic ul li a:focus {
  width: 90px;
  height: 90px;
  font-size: 50px;
  left: -23px;
  top: -23px;
  z-index: 1;
  background-color: #999;
  color: #000;
  border-color: #000;
  text-decoration: none;
  line-height: 128px;
  -moz-box-shadow: 1px 1px #007d9a, 2px 2px #007d9a, 3px 3px #007d9a, 4px 4px #007d9a, 5px 5px #007d9a, 6px 6px #007d9a, 7px 7px #007d9a, 8px 8px #007d9a;
  -webkit-box-shadow: 1px 1px #007d9a, 2px 2px #007d9a, 3px 3px #007d9a, 4px 4px #007d9a, 5px 5px #007d9a, 6px 6px #007d9a, 7px 7px #007d9a, 8px 8px #007d9a;
}

@-webkit-keyframes boxPulse {
  from {
    width: 90px;
    height: 90px;
    left: -23px;
    top: -23px;
    -webkit-animation-timing-function: ease-out;
  }

  50% {
    width: 80px;
    height: 80px;
    top: -19px;
  }

  to {
    width: 90px;
    height: 90px;
    left: -23px;
    top: -23px;
    -webkit-animation-timing-function: ease-out;
  }
}
